package rules.enum

import examples.drools.assetrule.rule.EnumRule
import examples.drools.assetrule.function.EnumFunctionImpl
import examples.drools.assetrule.data.DroolsExecuteContext

rule "Enum Rule: common"
    salience 60
    when
        ruleCondition:EnumRule()
        context:DroolsExecuteContext()
        enumFunction: EnumFunctionImpl()
        eval($!{enumRuleContext.condition})
    then
        enumFunction.execute(ruleCondition, context);
    end

