package rules.range

import examples.drools.assetrule.rule.ValueRangeRule
import examples.drools.assetrule.function.ValueRangeFunctionImpl
import examples.drools.assetrule.data.DroolsExecuteContext

rule "Range Rule: common"
    salience 70
    when
        ruleCondition:ValueRangeRule()
        context:DroolsExecuteContext()
        valueRangeFunction: ValueRangeFunctionImpl()
        eval($!{rangeRuleContext.condition})
    then
        valueRangeFunction.execute(ruleCondition, context);
    end

