package rules.value

import examples.drools.assetrule.rule.ValueRule
import examples.drools.assetrule.function.ValueFunctionImpl
import examples.drools.assetrule.data.DroolsExecuteContext

rule "Value Rule: common"
    salience 80
    when
        ruleCondition:ValueRule()
        context:DroolsExecuteContext()
        valueFunction: ValueFunctionImpl()
        eval($!{valueRuleContext.condition})
    then
        valueFunction.execute(ruleCondition, context);
    end

